<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Discover the perfect smartphone for you at our mobile phone emporium! From sleek designs to cutting-edge features, find your ideal companion for staying connected and organized on the go. Explore our curated collection today and step into the future of mobile technology!">
    <title>@ViewData["Title"] - BuyWell Dashboard</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BuyWell.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
